.passed__container{
    min-width: 300px;
    min-height: 50px;
    max-width: 300px;
    max-height: 100px;

    border-radius: 50px;

    position: absolute;
    z-index: 99999;

    bottom: 17%;
    right: 75px;
}