.tasks__container{
    width: 95%;
    /*height: 100%;*/
    background-color: rgba(0 , 0 , 0 , 0.9);
    border-radius: 47px;
    border: 2px solid #1BBF00;

    margin-top: 2.5%;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
}

.task_list{
    margin-left: 10vh;
}

.task{

    font-family: "ChakraPetch-Bold";
    font-size: 24px;
    transition: 1s ease-in-out;
}

.task:hover{
    cursor: default;
    border-bottom: 2px solid #1BBF00; 
    width: 95%;
}

tr , td {
    cursor: default;
}

/*.task__app_shadow{*/
/*    background: rgba(0 , 0 , 0 , 0.1) ;*/
/*    backdrop-filter: blur(8px);*/
/*    !*height: 83.5vh;*!*/
/*    !*height: 100%;*!*/
/* }*/


.task__app_shadow {
    background-size: cover;
    width: 100vw;
    min-height: 85vh;
    color: white;
    position: relative;
    overflow: hidden;
}

.task__app_shadow::after {
    content: "";
    /*background:  no-repeat center center;*/
    background-size: cover;
    filter: blur(10px) brightness(0.4);
    position: absolute;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
}

 tr{
     border-color: #1BBF00 !important;
     background-color: rgba(0 , 0 , 0 , 0.5);
 }

 td.index{
     font-size: 20px;
 }

 th{
     text-align: center !important;
 }