.task_categories__container{
    width : 100%;
}

html{
    overflow-x: hidden;
}

/*.task_categories__app_shadow{*/
/*    background: rgba(0 , 0 , 0 , 0.1) ;*/
/*    backdrop-filter: blur(8px);*/
/*    min-height: 100vh;*/
/*    !*height: 83.5vh;*!*/
/*}*/


.task_categories__app_shadow {
    background-size: cover;
    width: 100vw;
    height: 85vh;
    color: white;
    position: relative;
    overflow: hidden;
}

.task_categories__app_shadow::after {
    content: "";
    /*background:  no-repeat center center;*/
    background-size: cover;
    filter: blur(10px) brightness(0.4);
    position: absolute;
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
}