*{
    font-family: "ChakraPetch-Bold"
}


.closeBtn{
  cursor: pointer;
  float: right;
  font-size:20px;
  color: white;
}

.modal {
    background: rgba(0,0,0, 0.2);
    display: none;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    perspective: 500px;
    
}

.modal .modal_wrapper {
    width: 60%;
    max-width: 1200px;
    top: 15%;
    background: rgba(0, 0, 0, 1);

    border : 2px solid #1BBF00; 
    border-radius: 5px;
    
    position: absolute;
    text-align: left;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.4);
    animation-name:modalopen;
    animation-duration:.8s;
    transform: rotateX(0deg);
}

.modal_header, .modal_body, .modal_footer {
    padding: 5px 15px;
}

.modal_header, .modal_footer , .modal_body {
    text-align: center;
}

.modal_body {
    background: rgba(0, 0, 0, 1);
}

@keyframes modalopen{
  from {
    opacity: 0; 
    top: 5%;
    transform: rotateX(15deg);
   }
  to {
    opacity: 1; 
    top: 15%; 
    transform: rotateX(0deg);
    }
}

.modal_footer , .modal_body{
    border-top: 2px solid #1BBF00 ;
}

.modal_body pre{
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 18px;
}

.file_anchor , .file_anchor:hover{
    outline: none;
    color: #1BBF00;
    font-size: 24px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.file_anchor{
    text-decoration: none ;
}

.file_anchor:hover{
    text-decoration: underline #1BBF00 !important ;
}

.modal_wrapper .sign_up__form input{
    font-size: 18px;
}

.modal_body img{
    max-width: 250px;
    
}

.modal_body pre{
    word-break: break-all;
}